.container p {
    text-align: justify; text-justify: inter-ideograph; text-indent: 2em;
}

.container span.zero {
	color: rgb(147, 112, 219);
	font-weight: 550;
}

.container span.razzor {
	color: rgba(87,147,217,1);
	font-weight: 550;
}