body {
	background-image: url('../images/banner-image1.jpg');
	background-position: center center;
	background-repeat: repeat-y;
	background-size: cover;	
}

.bulletin-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

.bulletin-title{
	font-size: 40px;
    color: #ffffff;
}


.container{
    margin-top: 15px;
}


.left, .right{
    width: 31%;
    min-width: 200px;
    max-width: 300px;
    /* background-color: #7ecff2; */

    text-align: left;
    float: left;
}

.main{
    flex: 1;
    /* background-color: #ff5000; */
    text-align: center;
}

.list{
    text-align: left;
}

label {
    width: 35%;
    height: 1px;
    background-color: #606257;
}

.stream-warpper{
    width: 100%;
    display: flex;
    
    top: 100px;
    bottom: 100px;
}

.resistance {
    color: #3e92f3;
}

.signature {
    text-align: right;
    margin-top: 20px;
}

.tag-nav>li {
    float: none;
}

.pagination {
    display: block;
}

.nav>li>em{
    position: relative;
    display: block;
    padding: 10px 11px;
}

@media screen and (max-width: 600px){
    .stream-warpper{float: left; flex-direction: column;}
    #tag-title{display: none;}
}