/*-- All the Fonts --*/
@font-face {
    font-family: 'typemetwomedium';
    src: url('../fonts/typemetwo-webfont.eot');
    src: url('../fonts/typemetwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typemetwo-webfont.woff2') format('woff2'),
         url('../fonts/typemetwo-webfont.woff') format('woff'),
         url('../fonts/typemetwo-webfont.ttf') format('truetype'),
         url('../fonts/typemetwo-webfont.svg#typemetwomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '39_smoothregular';
    src: url('../fonts/39smooth-webfont-webfont.ttf') format('truetype');
    src: url('../fonts/39smooth-webfont-webfont.eot');
    src: url('../fonts/39smooth-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/39smooth-webfont-webfont.woff2') format('woff2'),
         url('../fonts/39smooth-webfont-webfont.woff') format('woff'),
         /* url('../fonts/39smooth-webfont-webfont.ttf') format('truetype'), */
         url('../fonts/39smooth-webfont-webfont.svg#39_smoothregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fzsongkebenxiukais';
    src: url('../fonts/fzskbxkjw-webfont.eot');
    src: url('../fonts/fzskbxkjw-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fzskbxkjw-webfont.woff2') format('woff2'),
         url('../fonts/fzskbxkjw-webfont.woff') format('woff'),
         url('../fonts/fzskbxkjw-webfont.ttf') format('truetype'),
         url('../fonts/fzskbxkjw-webfont.svg#fzsongkebenxiukais') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fzyingbikaishu-s15sregular';
    src: url('../fonts/fzybksjw-webfont.eot');
    src: url('../fonts/fzybksjw-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fzybksjw-webfont.woff2') format('woff2'),
         url('../fonts/fzybksjw-webfont.woff') format('woff'),
         url('../fonts/fzybksjw-webfont.ttf') format('truetype'),
         url('../fonts/fzybksjw-webfont.svg#fzyingbikaishu-s15sregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: '39smooth';
    src: url('../fonts/39smooth-webfont.ttf') format('truetype');
    src: url('../fonts/39smooth-webfont.woff2') format('woff2'),
         url('../fonts/39smooth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TypeMeTwo';
    src: url('../fonts/TypeMeTwo.ttf') format('truetype');


    font-family: 'FZSKBXKJW';
    src: url('../fonts/FZSKBXKJW.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
*/