---
layout: default
title: HayHeapStudio
comments: true
---

<!--banner-->
<div class="top nav">
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
    	<a class="navbar-brand" href="index.html">HayHeapStudio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
        	<li><a href="index.html" class="active">Home</a></li>
			<li><a href="#about" class="page-scroll">About</a></li>
	    	<li><a href="#locations" class="page-scroll">Locations</a></li>
			<li><a href="#daily" class="page-scroll">Daily</a></li>
			<li><a href="#contact" class="page-scroll">Contact</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="banner" id="home">
	<div class="container-fluid">
   <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="images/banner-image1.jpg" alt="Slide1" class="img-responsive">
			</div>                 
			<div class="item">
				<img src="images/banner-image2.jpg" alt="Slide2" class="img-responsive">
			</div>
			<div class="item">
				<img src="images/banner-image3.jpg" alt="Slide3" class="img-responsive">
			</div>
		</div>
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		</div>
		<div class="banner-info-w3layouts">
			<div class="jumbotron text-center">
				<h1>VOYAGER</h1>
				<!--
				<p>The world is a book, and those who do not<br> travel read only a page.</p>
				-->
				<p>记录在这个奇妙世界相遇的每一天</p>
			</div>
		</div>
	</div>
</div>


<!--about us-->
<div class="about-us-agileits" id="about">
<div class="about-info text-center">
	<h3>ABOUT US</h3>
	<label></label>
	</div>
		<div class="about-us-agileits-info">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-5">
						<h2>About Ourselves &gt;&gt;</h2>
						<p>相识于2018年末，感谢命运的安排。</p>
						<p>彼此擅长的东西对对方来说都是神秘的待探索领域，思想的碰撞是多么迷人而有趣啊~</p>
						<p>永远在点菜的时候心有灵犀。</p>
						<p>我们都在努力变好。</p>

					</div>

					<div class="col-sm-6 col-md-7 text-center">
						<p> BIOCARD </p>
						<img src="images/biocard.jpg" alt="profile" style="height: 275px">
						<p>这里需要左右做一点分割 图片尺寸也需要修改一下 看起来会协调一些</p>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
</div>
<!---728x90--->
<!--//about us-->


<div class="services-w3ls" id="daily">
	<div class="contact-agileinfo-info text-center">
		<h3>Daily</h3>
		<h6>ALL ARTICILES</h6>
	</div>
	<div class="container">
		{% for post in site.posts %}

　　　　　　<li>{{ post.date | date_to_string }} - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

　　　　{% endfor %}
	</div>
</div>

<div class="contact-agileinfo" id="daily">


</div>


<!--locations-->
<div class="locations-w3-agile" id="locations">
	<div class="contact-agileinfo-info text-center">
		<h3>JOURNAL LOCATIONS</h3>
		<h6>Somewhere we have/will visit</h6>
	</div>
	<div class="locations-w3-agile-content">
	<div class="container">
		<div class="portfolio-gallery" id="gal">


	<div class="gallery_product-w3-agile col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<div class="hovereffect">
			<a class="chocolat-image"  href="images/locations-Quanzhou.jpg"><img src="images/locations-Quanzhou.jpg" class="img-responsive" alt=" ">
			<div class="overlay">
				<h4>Quanzhou</h4>
				<p>第一次和Zero一起旅行的地方。是Zero的家乡，对我来说也有很特别的意义。</p>
			</div>
			</a>
		</div>
	</div>

	<div class="gallery_product-w3-agile col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<div class="hovereffect">
			<a class="chocolat-image"  href="images/locations-Fuzhou.jpg"><img src="images/locations-Fuzhou.jpg" class="img-responsive" alt=" ">
			<div class="overlay">
				<h4>Fuzhou</h4>
				<p>带Zero来吃过的我的家。</p>
			</div>
			</a>
		</div>
	</div>


	<div class="gallery_product-w3-agile col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<div class="hovereffect">
			<a class="chocolat-image"  href="images/locations-img1.jpg"><img src="images/locations-img1.jpg" class="img-responsive" alt=" ">
			<div class="overlay">
				<h4>Algeria</h4>
				<p>随便凑的. </p>
			</div>
			</a>
		</div>
	</div>
			

	<div class="gallery_product-w3-agile col-lg-4 col-md-4 col-sm-4 col-xs-6">
		<div class="hovereffect">
			<a class="chocolat-image" href="images/locations-img2.jpg"><img src="images/locations-img2.jpg" class="img-responsive" alt=" ">
			<div class="overlay">
				<h4> Iceland</h4>
				<p>这也随便凑的. </p>
			</div>
			</a>
		</div>	
	</div>


	 <div class="clearfix"></div>
	</div>
	</div> <!-- container / end -->
	</div>
</div>

<div class="our-team-w3l" id="our-team">
	<div class="our-team-w3l-info text-center">
	<h3>OUR MEMORY</h3>
	<label></label>
	</div>
	<div class="our-team-w3l-content">
		<div class="container">
			<div class="row" >
				<p>回头把这里的超链接改成按钮或者时间线什么的</p>
				<a href="./photowall.html">我们的更多回忆 >> </a>

  			<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="contact-agileinfo" id="contact">
	<div class="contact-agileinfo-info text-center">
	<h3>CONTACT US</h3>
	<h6>DROP US A LINE</h6>
	</div>
		<div class="contact-agileinfo-content">
			<div class="container">
				<div class="contact-agileinfo-address">
					<div class="contact-agileinfo-icons">
						<div class="contact-icons-info">
							<h3>Comments</h3>
						</div>
					</div>
				</div>
				
				<!-- Comment Area -->
				{% if page.comments %}
				<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						
						var disqus_config = function () {
						this.page.url = zero.razzorleaf.fun;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = 0; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://razzorleaf.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

				{% endif %}

				<div class="contact-agileinfo-address">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="address">
							</div>
							<div class="contact-agileinfo-icons">
								<div class="contact-icons-info">
									<h3>SNS Links</h3>
								</div>
								<ul>
									<li><a href="https://twitter.com/Timothy_OwO"><i class="fa fa-twitter" aria-hidden="true"></i>葉子君 </a></li>
									<li><a href="https://twitter.com/effyzero98"><i class="fa fa-twitter" aria-hidden="true"></i>ZERO </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="footer text-center">&copy; 2019 Zero & Leaf. All Rights Reserved | Design by  <a href="https://twitter.com/Timothy_OwO"> Timothyhay</a></div>

<style type="text/css">
	#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("./images/arrow.png") no-repeat 0px 0px;
}
</style>