<!DOCTYPE html>
<html>
<head>
<title>Cyberspace for Zero & Leaf</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--css-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/chocolat.css" rel="stylesheet" type="text/css" media="all">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!--//css-->

<!--google fonts-->
<!--
<link href="//fonts.googleapis.com/css?family=Poppins:200,200i,300,400,500,500i,600,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Nunito:400,700,700i,800i,900" rel="stylesheet">
-->
<!--//google fonts-->
</head>
<body>
　　　　{{ content }}

<!--javascript-->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/grayscale.js"></script>
<script src="js/move-top.js"></script>
<!--//javascript-->
<!-- js for gallery -->
<script type="text/javascript" src="js/jquery.chocolat.js"></script>
<script>
$(function(){
                $('#gal').Chocolat({
                    imageSize: 'contain'
                });
            });
</script>
<script type="text/javascript">
$(document).ready(function() {
var defaults = {
containerID: 'toTop', // fading element id
containerHoverID: 'toTopHover', // fading element hover id
scrollSpeed: 1200,
easingType: 'linear' 
};

$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>

<!-- //js for gallery -->	
</body>
</html>