<!DOCTYPE html>
<html>
<head>
<title>PhotoWall - Cyberspace for Zero & Leaf</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--css-->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/chocolat.css" rel="stylesheet" type="text/css" media="all">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/photowallstyle.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!--//css-->

</head>
<body style="background-color: #b4dff8b5;">
　　　　{{ content }}

<!--javascript-->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/grayscale.js"></script>
<!--//javascript-->
</body>
</html>