---
layout: bulletin
title: All Articles
comments: false
paginate: true
---


<div class="stream-warpper">
    <div class="left">
        <div id="tag-title">
            <h4>Tags</h4>
            <label></label>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tags-navbar-collapse" aria-expanded="false">
                <h4>Tags</h4>
                <label></label>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="tags-navbar-collapse">
            <ul class="nav navbar-nav tag-nav" >
            {% for tag in site.tags %}
                <li><a href="/filter/tag/{{ tag.first }}" class="{{ classname }}">{{ tag.first }}</a></li>
            {% endfor %}
                <label></label>
                <li><a href="/filter/tag/Sand" class="{{ classname }}">Sands</a></li>
                <li><a href="/articlelist" class="{{ classname }}">All Articles</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        
    </div>

    
    <div class="main list">

        <h4>Article List</h4>
        <label></label>
        <ul>
        {% for post in paginator.posts %}
            {% assign tag = post.tags.first %}
            {% if tag == nil %}
                <li>{{ post.date | date_to_string }} / Sands & Stardust 
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                </li>
            {% else %}
                <li>{{ post.date | date_to_string }} / {{ post.tags | array_to_sentence_string }} 
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                </li>
            {% endif %}
　　　　 {% endfor %}
        </ul>

        <label></label>
        {% if paginator.total_pages > 1 %}
        <p>1{{ paginator.previous_page_path}}</p>
        <p>2{{site.baseurl }}</p>
        <p>3{{site.paginate_path }}</p>
        <p>4{{ paginator.previous_page_path | prepend: site.baseurl }}</p>
        <p>5{{site.paginate_path | prepend: site.baseurl}}</p>
        <p>6{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}</p>

        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% assign baseurl = site.baseurl %}
                {% if baseurl != "/" %}
                    {% assign baseurl = "/" %}
                {% endif %}
                {% if page == paginator.page %}
                    <em>{{ page }}&nbsp;</em>
                {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | prepend: baseurl | replace: '//', '/' }}">{{ page }}&nbsp;</a>
                {% else %}
                    <a href="{{ site.paginate_path | prepend: baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}&nbsp;</a>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>




 